body {
  background-color:#F2F2F2;
  margin:0;
  padding:0;
  font-family:roboto;
}

.outline {
  margin:auto;
  height:auto;
  padding:10px;
}

.links {
  display:flex;
  height:80px;
  margin:15px;
  font-size:0;
  align-items:center;
}

.title {
  padding:10px;
}

.middlelinks {
  width: 410px;
}


.leftlinks, .rightlinks {
  flex: 1;
}

.leftlinks {
  text-align:right;
}

.windowcontent {
  margin:5px;
}

.window form {
  margin-bottom:0;
}

.window {
  background: #ededed;
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid black;
  margin:0 5px;
}

.window h2 {
  background-color:#ddd;
  margin: 0;
  padding: 5px;
  font-size: 15px;
  border-bottom: 1px solid black;
}

.tether-element {
  pointer-events: none;
  z-index: 10;
}

.inv-slot {
  background: url(/client/png/itembg.png);
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
.inv-slot img {
  width: 50px;
  height: 50px;
}

.tooltip {
  background: rgba(224,147,69, 1);
  border: 2px solid #754c24;
  padding: 0px;
  pointer-events: none;
  width: 250px;
}

.tooltip-stat {
  border: 0;
  background: transparent;
  pointer-events: auto;
  position: static;
  width: 190px;
}

.tooltip h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  margin-bottom: 4px;
  /*text-shadow: 0px 2px 0 #000; */
  /*text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;*/
  /*-webkit-text-stroke: 1px black;*/

  background: rgba(0, 0, 0, .15);

  padding: 5px;
}

.tooltip p {
  font-size: 16px;
  padding: 0 5px;
  margin: 0;
}

.tooltip p:last-child {
  margin-bottom: 5px;
}

.tooltip .description {
  margin: 5px;
  font-style: italic;
}

.rarity-common {
  color: #f7f7f7;
}

.rarity-uncommon {
  color: #37e200;
}

.rarity-rare {
  color: #1aa0ff;
}

.rarity-legendary {
  color: #9d00ff;
}

.rarity-set {
  color: #f23022;
}
.item {
  border: 2px solid;
  box-sizing: border-box;
}

.item-common {
  border-color: #f7f7f7;
}

.item-uncommon {
  border-color: #0cd829;
}

.item-rare {
  border-color: #4cb5ff;
}

.item-legendary {
  border-color: #9d00ff;
}

.item-set {
  border-color: #f23022;
}

.tooltip-window p:first-child {
  margin-top: 5px;
}

.tooltip-window h2:not(first-child) {
  margin-top: 5px;
}

.tooltip-window h2 {
  font-size: 15px;
  background: transparent;
}