.tb-equipped {

  $inv-slot-width: 50px;
  $inv-slot-padding: 5px;

  width: 3 * ($inv-slot-width + $inv-slot-padding * 2);
  
  .tb-inventoryslot:nth-child(1) {
    padding: 5px 5px 5px 65px;
  }

  .tb-inventoryslot:nth-child(6) {
    padding: 5px 65px 5px 65px;
  }

  .tb-inventoryslot:nth-child(7) {
    padding: 5px 65px 5px 65px;
  }

  padding-right: 30px;

}
