.tb-fightlog {

  width: 600px;
  margin-right: 30px;
  padding: 5px;

  .round {

    margin-bottom: 5px;

    &.allied {

      .title {
        background: #f2fff2;
      }

    }

    &.enemy {

      .title {
        background: #fff2f2;
      }

    }

    .textrow {
      padding-top: 4px;
    }

  }

}
