.tb-equippedstats {

  width: 180px;
  margin-right: 30px;

  .stats {

    margin-bottom: 5px;

    .title {
      &.titlestats {
        background: #f0c68b;
      }
    }

    .textrow {
      padding: 4px 4px 0 4px;
    }

  }

}
