.page-game-inventory {

  .container-inventory {
    width: 893px;
    margin: auto;
  }

  .equip, .inventory {
    position: relative;
    border: 0px solid black;
    height: 250px;
  }
  
  .itemmove {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .inv-head {
    position: absolute;
    top: 10px;
    left: 70px;
  }

  .inv-body {
    position: absolute;
    top: 70px;
    left: 70px;
  }

  .inv-legs {
    position: absolute;
    top: 130px;
    left: 70px;
  }

  .inv-boots {
    position: absolute;
    top: 190px;
    left: 70px;
  }

  .inv-lefthand {
    position: absolute;
    top: 70px;
    left: 10px;
  }

  .inv-righthand {
    position: absolute;
    top: 70px;
    left: 130px;
  }

  .equip-window {
    width: 190px;
  }

  .inventory-window {
    width: 683px;
  }

  .inventory {
    overflow: auto;
  }

  .item-dragging {
    opacity: .5;
  }

  .recraft-inventory {
    position: absolute;
    right: 17px;
    width: 226px;
    height: 82px;
    padding-top: 5px;
    top: -9px;
    text-align: center;
    background: #dddddd;
  }

  .craft-button {
    position: relative;
    top: 55px;
    background-color: rgba(0, 0, 0, .15);
    border: none;
    outline: none;
    font-family: Roboto, sans-serif;
    font-size: 16px;
  }

  .craft-button:active {
    background-color: rgba(0, 0, 0, .1);
  }

  .bottom-inventory {
    top: 10px;
    position: relative;
  }

  .inv-craft-1 {
    position: absolute;
    left: 5px;
  }

  .inv-craft-2 {
    position: absolute;
    left: 60px;
  }

  .inv-craft-3 {
    position: absolute;
    left: 115px;
  }

  .inv-craft-4 {
    position: absolute;
    left: 170px;
  }

  .tooltip-window {
    margin-top: 5px;
    border: 0;
  }

  .character-header {
    color: #9b652f;
  }

  .separator {
    height: 5px;
  }

}