
.page-game-fight {

  display:flex;
  justify-content:center;

  .fight-window {
    width:611px;
    height:500px;
    display:flex;
    flex-direction:column;
  }

  .fight-text img {
    vertical-align: middle;
    padding: 0 1px;
  }

  .fight-text-newturn:not(:first-child) {
    margin-top: 20px;
  }

  .fight-text-newturn {
    margin-top: 5px;
    text-align: center;
    background-color: #ccffcc;
  }

  .fight-text-newturn.fight-text-opponent {
    background-color: #ffcccc;
  }

  .container-fight-text {
    height:500px - 39px;
    overflow-y:scroll;
    word-wrap:break-word;
  }

  .fight-window .windowcontent {
    padding:0px 5px;
  }

  .player-name-me {
    color: #01a201;
    font-weight: 400;
  }

  .player-name-other {
    color: #fb2a2a;
    font-weight: 400;
  }

  .attack-weapon {
    font-weight: 400;
  }
}
