.page-game-fight {

  display:flex;
  justify-content:center;

  .fight-window {
    width:611px;
    height:500px;
    display:flex;
    flex-direction:column;
  }

  .fight-text {
    background-color:#d4d4d4;
    padding:1px 6px;
    margin-top:5px;
  }

  .fight-text:nth-child(even) {
    background-color:#rgba(0,0,0,0);
    padding:1px 6px;
    margin-top:5px;
  }

  .fight-text-opponent {
    text-align: right;
  }

  .container-fight-text {
    height:500px - 39px;
    overflow-y:scroll;
    word-wrap:break-word;
  }

  .fight-window .windowcontent {
    padding:0px 5px;
  }

}
