.page-game-inventory {

  .container-inventory {
    width: 801px;
    margin: auto;
  }

  .equip, .inventory {
    position: relative;
    border: 0px solid black;
  }

  .equip {
    box-sizing:border-box;
  }
  
  .itemmove {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .equip-itemslot {
    text-align:center;
  }

  .equip-window {
    width: 190px;
    display:flex;
    flex-direction:column;
  }

  .inventory-window {
    width: 611px;
  }

  .inventory {
    overflow: none;
  }

  .item-dragging {
    opacity: .5;
  }

  .recraft-inventory {
    position: absolute;
    right: 0px;
    width: 250px;
    padding: 5px 0px;
    top: -9px;
    text-align: center;
    background: #ededed;
    border-bottom:1px solid black;
  }

  .bottom-inventory {
    top: 10px;
    position: relative;
  }

  .inventory-tabs {
    position: absolute;
    left: 0px;
    width: 310px;
    padding: 5px 0px;
    top: -9px;
    text-align: center;
    background: #ededed;
    border-bottom:1px solid black;
  }

  .bottom-tabs {
    top: 10px;
    position: relative;
  }


  .tooltip-window {
    margin-top: 5px;
    border: 0;
  }

  .character-header {
    color: #9b652f;
  }

  .separator {
    height: 5px;
  }

}
