html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: roboto, sans-serif;
}

.tooltip {
  background: rgba(224,147,69, 1);
  border: 2px solid #754c24;
  padding: 0px;
  pointer-events: none;
  width: 250px;

  .tooltip-stat {
    border: 0;
    background: transparent;
    pointer-events: auto;
    position: static;
    width: 190px;
  }

  h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin-bottom: 4px;

    background: rgba(0, 0, 0, .15);

    padding: 5px;
  }

  p {
    font-size: 16px;
    padding: 0 5px;
    margin: 0;
  }

  p:last-child {
    margin-bottom: 5px;
  }

  .description {
    margin: 5px;
    font-style: italic;
  }
}
