.page-homepage {

  .container-login {
    width:210px * 3 + 2;
    margin:0 auto;
  }

  .login-window, .register-window, .guest-window {
    width:210px;
    display:flex;
    flex-direction:column;
  }

}
