.page-homepage {

  .container-login {
    width:660px;
    margin:0 auto;
  }

  .login-window, .register-window, .guest-window {
    width:210px;
  }

  .input {
    width:200px;
    margin-bottom:5px;
  }

  .login-button {
    background-color: rgba(0, 0, 0, .15);
    border: none;
    outline: none;
    font-family: Roboto, sans-serif;
    font-size: 16px;
  }

  .login-button-center {
    text-align:center;
  }

}