.page-homepage {

  .container-login {
    width:660px;
    margin:0 auto;
  }

  .login-window, .register-window, .guest-window {
    width:210px;
  }

  .input {
    width:200px;
    margin-bottom:5px;
  }

}