body {
  background-color:#F2F2F2;
  margin:0;
  padding:0;
  font-family:roboto;
}

.outline {
  margin:auto;
  height:auto;
  padding:10px;
}

.links {
  display:flex;
  height:80px;
  margin:15px;
  font-size:0;
  align-items:center;
}

.title {
  padding:10px;
}

.middlelinks {
  width: 410px;
}


.leftlinks, .rightlinks {
  flex: 1;
}

.leftlinks {
  text-align:right;
}

.window {
  background: #ddd;
  display: inline-block;
  vertical-align: top;
}

.window h2 {
  margin: 0;
  padding: 5px;
  font-size: 15px;
  border-bottom: 1px solid black;
}

.signin-window, .signup-window, .guest-window {
  width:300px;
}

.login {
  position: relative;
  border: 0px solid black;
  height: 250px;
}