body {
  background: #eee;
}

.equip, .inventory {
  position: relative;
  border: 0px solid black;
  height: 250px;
}

.inv-slot {
  background: url(/png/itembg.png);
  width: 50px;
  height: 50px;
  position: absolute
}

.inv-slot img {
  width: 50px;
  height: 50px;
}

.inv-head {
  top: 10px;
  left: 70px;
}

.inv-body {
  top: 70px;
  left: 70px;
}

.inv-legs {
  top: 130px;
  left: 70px;
}

.inv-boots {
  top: 190px;
  left: 70px;
}

.inv-lefthand {
  top: 70px;
  left: 10px;
}

.inv-righthand {
  top: 70px;
  left: 130px;
}

.equip-window {
  width: 190px;
}

.window {
  background: #ddd;
  display: inline-block;
  vertical-align: top;
}

.window h2 {
  margin: 0;
  padding: 5px;
  font-size: 15px;
  border-bottom: 1px solid black;
}

.inventory-window {
  width: 678px;
}

.inventory {
  overflow: auto;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.tooltip {
  position: absolute;
  background: rgba(224,147,69, 1);
  border: 2px solid #754c24;
  padding: 5px;
  pointer-events: none;
  text-stroke: 10px white;
}

.tooltip h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: sans-serif;
  margin-bottom: 4px;
  text-shadow: 1px 1px 0 #000;
}

.tooltip p {
  font-size: 16px;
  font-family: sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.rarity-common {
  color: #d7d7d7;
}

.rarity-uncommon {
  color: #22f23f;
}

.rarity-rare {
  color: #229cf2;
}

.rarity-legendary {
  color: #f26522;
}

.rarity-set {
  color: #f23022;
}
